<%-include("partials/header")%>
<div class="navBar">
    <span class="navvy"><button class="btn btn-blue signOutButton">Sign Out</button></span>
    <span class="navvy"><button class="btn btn-blue modal-trigger" href=".modal3">Settings</button></span>
</div>
<div class="container">
    <div class="jumbo">
            <div class="landingPageOptions">
                    <br>
                    <br>
                    <br>
                    <div class="row">
                            <div class="col s4 offset-s2 what" id="navigateCreatePoll">
                                    <a href="createPoll">
                                    <img src="/images/poll.jpg" class="homeImage">
                                    <h4 class="animated fadeInDown">Create New Poll</h4>
                            </a>
                            </div>
                            <div class="col s4 what navigatePolls" id="navigateViewPolls">
                                    <img src="/images/polls.jpg" class="homeImage">
                                    <h4 class="animated fadeInDown">View Polls</h4>
                                </a>
                            </div>
                    </div>
            </div>
    </div>
</div>

<!--settings modal-->
<div id="modal3" class="modal modal3">
    <div class="modal-content">
            <h4>Change Password</h4>
            <div class="row">
                    <form class="col s12">

                            <div class="row">
                                    <div class="input-field col s12">
                                            <input id="passwordChange1" type="password" class="validate">
                                            <label for="passwordChange1">New Password</label>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="input-field col s12">
                                            <input id="passwordChange2" type="password" class="validate">
                                            <label for="passwordChange2">Confirm New Password</label>
                                            <p style="display:none" style="color:red" id="passwordSuccess">Password
                                                    succesfully updated</p>
                                                    <p style="display:none" style="color:red" id="passwordFail">Passwords do not match</p>
                                    </div>

                            </div>
                    </form>
            </div>
    </div>
    <div class="modal-footer">
            <button class="btn btn-blue" id="updatePassword">Update</button>

    </div>
</div>
<%-include("partials/footer")%>