<%-include("partials/header")%>

<div class="navBar">
    <span class="navvy"><button class=" btn btn-blue signOutButton">Sign Out</button></span>
   
</div>
<div class="container">
    <div class="jumbo">
        <h4 class="animated fadeInDown">Poll Results</h4>
        <canvas id="myChart"></canvas>
       </div>
       
    </div>

<%-include("partials/footer")%>